.inputArea {
    display: flex;
    flex-direction: column;
    gap: .3rem;
}

.label {
    font-size: .8rem;
}

.input {
    padding: 0 .5rem;
    height: 2rem;
    border: 1px solid #b1b1b1;
}

.input:focus {
    outline: none !important;
    border-color: #747474;
}

.input:hover {
    border-color: #747474;
}